.disabled {
	color: #808080;
}
.expanded {
	background-image: url('arrow_down.png');
	background-repeat: no-repeat;
	text-indent: 23px;
}
.collapsed {
	background-image: url('arrow_right.png');
	background-repeat: no-repeat;
	text-indent: 23px;
}
.fixed {
	text-indent: 23px;
}
.figicon {
	margin-right: 2em;
}
.footnote {
	background-color: #F0F0F0;
	border: 1px solid #E0E0E0;
	color: #404040;
	display: none;
	font-size: smaller;
	padding: 0.2em 0.5em 0.2em 0.5em;
}
.missing {
	font-style: italic;
	font-weight: normal;
}
.note {
	font-style: italic;
}
.outdated {
	color: #900000;
}
.significant {
	color: red;
	font-weight: bold;
}
.task {
	color: red;
	font-weight: bold;
}
.unfinished {
	color: #900000;
}
a {
	text-decoration: none;
}
:link:hover {
	background-color: #F0F0FF;
}
:link:hover img {
	background-color: #FFFFFF;
}
body {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, sans-serif;
	width: 880px;
}
div.settings {
	left: 900px;
	position: fixed;
	top: 10px;
}
div.code {
	background-color: #E5E5E5;
	border: 1px solid #707070;
	color: #000000;
	font-family: 'Courier New', monospace;
	padding: 0em 0.2em 0em 0.2em;
}
div.code pre {
	padding: 0em;
	margin-top: 0em;
}
div.figure {
	width: 100%;
	border: 1px solid #C0C0C0;
	text-align: center;
}
div.restricted {
	max-height: 850px;
	max-width: 850px;
	overflow-x: scroll;
	overflow-y: scroll;
}
div.restrictedx {
	max-width: 850px;
	overflow-x: scroll;
}
div.restrictedy {
	max-height: 850px;
	overflow-y: scroll;
}
h1 {
	font-family: 'Bookman Old Style', Palatino, serif;
	margin-left: 155px;
	text-align: center;
	text-shadow: #C0C0C0 2px 2px;
}
h2 {
	border-bottom: 4px double #0000C0;
	color: black;
	font-family: Georgia, Garamond, serif;
	margin: 1.3em 0em 0.5em 0em;
}
h3 {
	color: black;
	font-family: Georgia, Garamond, serif;
	margin: 0.9em 0em 0em 0em;
}
h4 {
	color: black;
	margin: 0.7em 0em 0em 0em;
}
.collapsed:hover {
	color: #54549B;
	cursor: pointer;
}
.expanded:hover {
	color: #54549B;
	cursor: pointer;
}
img {
	border-width: 0px;
}
li {
	margin-bottom: 0.4em;
	text-align: justify;
}
p {
	margin: 0.5em 0em 0.5em 0em;
	text-align: justify;
}
p a {
	color: blue;
}
p a:hover {
	background-color: #F0F0FF;
}
p.caption {
	text-align: center;
}
p.centered {
	text-align: center;
}
p.figdescription {
	color: #404040;
	display: none;
	font-size: smaller;
	padding-left: 6em;
	padding-right: 6em;
}
p.memory {
	color: #808080;
	font-style: italic;
	margin-top: 1em;
}
p code {
	border: 1px solid #A0A0FF;
}
ol code {
	border: 1px solid #A0A0FF;
}
ul code {
	border: 1px solid #A0A0FF;
}
table {
	margin-left: auto;
	margin-right: auto;
}
table tr.header td {
	font-weight: bold;
	text-decoration: underline;
}
table.pipeline {
	background-position:1.5em 0em;
	background-repeat:repeat-y;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}
table.pipeline tr {
	margin: 0px;
	padding: 0em;
}
table.pipeline td {
    padding: 0px 0px 0px 0px;
}
table.pipeline td div {
	background: linear-gradient(to right, rgba(0, 0, 192, 0.2), rgba(0, 0, 192, 0.2), rgba(0, 0, 192, 0.4));
	border: 2px solid #000040;
	border-radius: 1.5em;
	height: 100px;
	margin-top: 10px;
	overflow-y: hidden;
	padding: 1em 1em 1em 100px;
	vertical-align: middle;
}
table.pipeline td a {
	color: #000000;
	text-decoration: none;
}
table.pipeline td a div:hover {
	background: linear-gradient(to right, rgba(192, 192, 0, 0.25), rgba(192, 192, 0, 0.25), rgba(192, 192, 0, 0.45));
	color: #0000A0;
}
table.pipeline tr:first-child td div {
	margin-top: 0px;
}
table.pipeline td div.running {
	background: linear-gradient(to right, rgba(0, 0, 192, 0.1), rgba(0, 0, 192, 0.1), rgba(0, 0, 192, 0.2));
	color: #404040;
}
table.pipeline td div.scheduled {
	background: rgba(0, 0, 0, 0);
	border-color: #808080;
	color: #808080;
}
table.tabsettings {
	border: 1px solid #A0A0A0;
	border-collapse: collapse;
}
table.tabsettings tr td {
	border-left: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
	font-weight: bold;
	padding: 0.1em 0.2em 0.1em 0.2em;
	text-align: left;
}
table.tabsettings tr td:first-child {
	background-color: #F0F0FF;
	font-weight: normal;
	text-align: right;
}
table.tabsettings tr td.input {
	font-weight: normal;
}
table.tabdata {
	border: 1px solid #A0A0A0;
	border-collapse: collapse;
}
table.tabdata tr td {
	border: 1px solid #A0A0A0;
	font-weight: bold;
	padding: 0.1em 0.2em 0.1em 0.2em;
	text-align: right;
}
table.tabdata tr td.centered {
	text-align: center;
}
table.tabdata tr td.selected {
	text-align: center;
	background-color: #FFFFE0;
}
table.tabdata tr td.header {
	background-color: #F0F0FF;
	font-weight: normal;
	text-align: center;
}
table.tindex {
	border-spacing: 0px;
	border: 1px solid black;
	font-size: smaller;
	font-weight: bold;
}
table.tindex thead {
	background-color: #F0F0FF;
}
table.tindex thead th {
	border-bottom: 1px solid black;
	padding: 0.4em;
}
table.tindex tbody td {
	border-left: 1px solid #C0C0C0;
	padding: 0.3em;
	vertical-align: middle;
}
table.tindex tbody td:first-child {
	border-left-width: 0px;
	font-family: 'Courier New', monospace;
	font-weight: normal;
}
table.tindex tbody tr.darker {
	background-color: #F4F4F4;
}
td.centered {
	text-align: center;
}
div#copyright {
	border-top: 1px solid silver;
	margin-top: 0.5em;
	padding: 0.5em 0em 0em 0.5em;
}
div#rnbeads {
	color: #808080;
	float: left;
	font-size: smaller;
}
div#validlogo {
	float: right;
}
